* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2b292d;
}

.page {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 700;
}

.trial {
  height: 48px;
  border-radius: 2px;
  background-color: #3040c4;
  min-width: 160px;
  color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.top-section {
  background-color: #f3c6bd;
  padding: 0;
}

.header {
  background-color: #ffffff;
  height: 64px;
  margin: auto;
  display: flex;
  padding-left: 15px;
}
.header .hamburger {
  margin-left: auto;
  width: 58px;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
.header .hamburger-icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url(../img/icon-hamburger.png);
}

.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
.logo__name {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
}
.logo__description-header {
  display: none;
}

.navigation {
  display: none;
}

.trial--header {
  display: none;
}

@media screen and (min-width: 1400px) {
  .top-section {
    padding-top: 39px;
  }
  .header {
    background-color: #f3c6bd;
    max-width: 1140px;
    height: 62px;
    padding: 0;
  }
  .header .hamburger {
    display: none;
  }
  .header .logo {
    display: flex;
    align-items: center;
  }
  .header .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  .header .logo__name {
    display: block;
  }
  .header .logo__description {
    display: block;
    line-height: 1.39;
    font-size: 18px;
    opacity: 0.6;
  }
  .header .navigation {
    display: block;
    margin-top: 7px;
    margin-left: auto;
  }
  .header .navigation__link {
    font-size: 18px;
    line-height: 1.39;
    margin-right: 51px;
  }
  .header .navigation__link:last-child {
    margin-right: 56px;
  }
  .header .navigation__link--selected {
    font-weight: 700;
  }
  .header .navigation__arrow {
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 11px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  }
  .trial--header {
    display: block;
  }
}
.headline {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.headline-content {
  padding: 35px 15px 33px;
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -0.3125px;
  line-height: 1;
  overflow: hidden;
}
.headline__description {
  margin-top: 24px;
  font-size: 24px;
  line-height: 1.42;
  overflow: hidden;
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.trial--headline {
  width: 100%;
  margin-right: 0;
  margin-bottom: 15px;
}

.learn-more {
  height: 48px;
  width: 100%;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 0.72;
  color: #3040c4;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 1400px) {
  .headline {
    position: relative;
    max-width: 1140px;
    margin: auto;
    margin-top: 84px;
    padding-bottom: 77px;
  }
  .headline-content {
    padding: 0;
    position: absolute;
    z-index: 1;
    margin: 0;
  }
  .headline__title {
    font-size: 80px;
    letter-spacing: -0.5px;
    line-height: 0.98;
    width: 754px;
    height: 165px;
  }
  .headline__description {
    margin-top: 34px;
    overflow: hidden;
    width: 456px;
    height: 102px;
  }
  .headline__banner {
    width: auto;
    position: relative;
    right: -107px;
    margin-left: auto;
    top: 7px;
  }
  .button-container {
    height: 48px;
    flex-direction: row;
    margin-top: 58px;
  }
  .trial--headline {
    width: 160px;
    margin: 0;
    margin-right: 10px;
  }
  .learn-more {
    width: 158px;
  }
}
.about {
  padding: 46px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f5f7;
}

.article {
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}
.article:last-child {
  margin: 0;
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.45;
}
.article__text {
  margin-top: 6px;
  font-size: 22px;
  line-height: 1.45;
}

@media screen and (min-width: 1400px) {
  .about {
    padding: 77px 130px 76px;
    max-width: 1400px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
  }
  .article {
    margin: 0;
    width: 555px;
  }
}
.customers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.customers__row {
  display: flex;
}
.customers__item {
  width: 107px;
  height: 94px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers__item:last-child {
  border-right: none;
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

@media screen and (min-width: 1400px) {
  .customers {
    width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px 0 106px;
  }
  .customers__row {
    flex-grow: 1;
  }
  .customers__item {
    margin-right: 105px;
    border: none;
  }
  .customers__logo {
    max-width: 100%;
  }
}
.tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0 50px;
  margin-top: 8px;
}

.tip {
  padding: 40px 15px;
  border-bottom: 1px solid #e3e3e3;
  width: 100%;
}
.tip:last-child {
  border-bottom: none;
}
.tip__suptitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.55;
  color: #009b4d;
}
.tip__title {
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.357143px;
}
.tip__text {
  font-size: 24px;
  line-height: 1.42;
}
.tip__image {
  display: flex;
  margin: auto;
  margin-top: 30px;
}
.tip__image-description {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}
.features {
  display: none;
}

@media screen and (min-width: 1400px) {
  .features {
    display: flex;
    position: relative;
  }
  .features-content {
    width: 1140px;
    margin: auto;
    display: flex;
  }
  .features__suptitle {
    font-weight: 700;
    font-size: 22px;
    color: #009b4d;
    line-height: 1.55;
  }
  .features__title {
    width: 462px;
    margin-top: 24px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    letter-spacing: -0.5px;
  }
  .features__description {
    width: 461px;
    margin: 30px 0 42px;
    font-size: 24px;
    line-height: 1.42;
  }
  .features-block {
    max-width: 461px;
    display: flex;
    flex-direction: column;
  }
  .features-block__title {
    margin-left: 15px;
    font-size: 22px;
    line-height: 1.18;
    font-weight: 400;
  }
  .features-block__title--active {
    color: #3040c4;
  }
  .features-block__text {
    font-size: 18px;
    line-height: 1.44;
  }
  .features-block__line {
    height: 1px;
    border-bottom: 1px solid #2b292d;
    opacity: 0.15;
    width: 457px;
    margin-top: 22px;
    margin-bottom: 21px;
  }
  .features-block__line--active {
    opacity: 1;
    border-bottom: 3px solid #3040c4;
    margin: 17px 0 20px;
  }
  .features__head-block {
    align-items: center;
    margin-bottom: 8px;
    display: flex;
  }
  .features__image-left {
    top: 258px;
    position: absolute;
    height: 167px;
  }
  .features__image-right {
    position: absolute;
    right: 0;
    height: 597px;
  }
}
.audience {
  background-color: rgba(0, 161, 198, 0.0705882353);
  padding: 50px 15px;
}
.audience-content__suptitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.55;
  text-align: center;
}
.audience-content__title {
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.357143px;
}
.audience-content__description {
  margin-top: 18px;
  font-size: 24px;
  line-height: 1.42;
  text-align: center;
}
.audience-categories {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-item {
  width: 290px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 22px 0 31px;
  transition: 0.5s color, 0.7s background-color;
}
.categories-item:hover {
  color: #ffffff;
  background-color: #3141c5;
}
.categories-item__name {
  margin-top: 22px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.27;
  text-align: center;
}

.button-container--audience {
  justify-content: center;
}

.trial--audience {
  margin-bottom: 12px;
}

@media screen and (min-width: 1400px) {
  .audience-content {
    margin-top: 58px;
  }
  .audience-content__title {
    width: 555px;
    height: 112px;
    margin: auto;
    margin-top: 24px;
    font-size: 56px;
    letter-spacing: -0.5px;
  }
  .audience-content__description {
    margin: auto;
    margin-top: 30px;
    width: 555px;
    height: 72px;
  }
  .audience-categories {
    margin: auto;
    margin-top: 111px;
    flex-direction: row;
    max-width: 1139px;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .categories-item {
    width: 262px;
    height: 300px;
    margin: 0;
    margin-right: 30px;
  }
  .categories-item:last-child {
    margin-right: 0;
  }
  .button-container--audience {
    margin-top: 34px;
    justify-content: center;
  }
  .trial--audience {
    margin: 0;
    margin-right: 10px;
  }
}
.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
}
.order-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.order__img {
  width: 200px;
}
.order-content__text-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.25px;
  margin-top: 40px;
}
.order-content__text-description {
  font-size: 22px;
  line-height: 1.45;
  margin-top: 18px;
  min-height: 167px;
}
.order-form__input {
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  outline: none;
  height: 48px;
  width: 100%;
  padding: 0 15px;
}
.order-description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.57;
  color: rgba(43, 41, 45, 0.6);
}
.order-description__link {
  font-size: 14px;
  line-height: 1.57;
  text-decoration: underline;
  color: #3142c6;
}
.order .trial--order {
  margin-top: 12px;
  min-width: 100%;
}

@media screen and (min-width: 1400px) {
  .order {
    padding: 0;
    padding: 73px 0 72px;
    display: flex;
    justify-content: center;
  }
  .order-container {
    max-width: 948px;
    justify-content: space-between;
    flex-direction: row;
    flex: 1;
  }
  .order__img {
    width: 270px;
  }
  .order-content {
    max-width: 557px;
  }
  .order-content__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .order-content__text-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.25px;
    margin-top: 40px;
  }
  .order-content__text-description {
    font-size: 22px;
    line-height: 1.45;
    margin-top: 18px;
    max-height: 64px;
    min-height: 0;
  }
  .order-email {
    display: flex;
    flex-direction: column;
  }
  .order-form {
    display: flex;
    margin-top: 26px;
  }
  .order-form__input {
    margin: 0;
    margin-right: 10px;
    height: 48px;
    width: 385px;
  }
  .order .trial--order {
    margin: 0;
    min-width: 160px;
  }
}
.footer {
  margin-top: auto;
  display: flex;
  margin-bottom: 0;
  flex-direction: column;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.footer__logo-image {
  width: 60px;
  height: 60px;
  margin-right: 0;
}
.footer__logo-text {
  margin-top: 20px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
}
.footer__description {
  display: none;
}
.footer__line {
  border-top: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
}
.footer__line-up {
  margin-top: 40px;
  display: block;
}
.footer__line-down {
  display: none;
}
.footer-links {
  margin-top: 8px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 22px 15px;
}

.about-company {
  margin-top: 40px;
}

.downloads {
  margin-top: 31px;
  display: flex;
  justify-content: center;
}
.downloads__link {
  margin-right: 10px;
}

.additional-nav {
  display: flex;
  padding: 0 15px;
  flex-direction: column;
}
.additional-nav__title {
  line-height: 1.27;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
}
.additional-nav__column {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.additional-nav__column:last-child {
  margin-right: 0;
}

.nav-link {
  line-height: 1.67;
  opacity: 0.6;
}

.terms__link {
  font-size: 14px;
  line-height: 1.57;
  opacity: 0.6;
  margin-right: 21px;
}

.social-links {
  margin-top: 31px;
}
.social-links__items {
  margin-left: 20px;
}
.social-links__items:first-child {
  margin-left: 0px;
}

@media screen and (min-width: 1400px) {
  .footer {
    margin-top: auto;
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
  }
  .footer__logo {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    text-align: start;
  }
  .footer__logo-image {
    margin-right: 15px;
  }
  .footer__logo-text {
    margin: 0;
  }
  .footer-nav {
    margin: auto;
    width: 1138px;
    display: flex;
    height: 338px;
    flex-direction: row;
    align-items: flex-start;
  }
  .footer__description {
    display: block;
    font-size: 18px;
    max-width: 360px;
    line-height: 1.44;
    opacity: 0.6;
    overflow: hidden;
    margin: 25px 0;
  }
  .footer__line-up {
    display: none;
  }
  .footer__line-down {
    display: block;
  }
  .footer-links {
    margin: auto;
    align-items: center;
    width: 1138px;
    display: flex;
    flex-direction: row;
    height: 50px;
  }
  .about-company {
    margin-top: 43px;
  }
  .downloads {
    justify-content: flex-start;
    margin: 0;
  }
  .additional-nav {
    padding: 0;
    margin: 0;
    margin-top: 60px;
    margin-left: 128px;
    display: flex;
    flex-direction: row;
  }
  .additional-nav__column {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .additional-nav__column:last-child {
    margin-right: 0;
  }
  .nav-link {
    width: 265px;
  }
  .social-links {
    margin: 0;
    margin-left: auto;
  }
  .social-links__items {
    margin-left: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
