.footer {
  margin-top: auto;
  display: flex;
  margin-bottom: 0;
  flex-direction: column;

  &-nav {
    margin: auto;
    width: 1138px;
    display: flex;
    height: 338px;
  }

  &__description {
    font-size: 18px;
    max-width: 360px;
    line-height: 1.44;
    opacity: 0.6;
    overflow: hidden;
    margin: 25px 0;
  }

  &__line {
    border-top: 1px solid $primary-text-color;
    width: 100%;
    opacity: 0.1;
  }

  &-links {
    margin: auto;
    align-items: center;
    width: 1138px;
    display: flex;
    height: 50px;
  }
}

.about-company {
  margin-top: 43px;
}

.downloads {
  &__link {
    margin-right: 10px;
  }
}

.additional-nav {
  margin-top: 60px;
  margin-left: 128px;
  display: flex;
  &__title {
    line-height: 1.27;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 18px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-right: 29px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-link {
  width: 265px;
  line-height: 1.67;
  opacity: 0.6;
}

.terms {
  &__link {
    font-size: 14px;
    line-height: 1.57;
    opacity: 0.6;
    margin-right: 21px;
  }
}

.social-links {
  margin-left: auto;
  &__items {
    margin-left: 20px;
  }
}
