// mobile version
.headline {
  margin: auto;
  display: flex;
  flex-direction: column;
  &-content {
    padding: 35px 15px 33px;
  }
  &__title {
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -0.3125px;
    line-height: 1;
    overflow: hidden;
  }
  &__description {
    margin-top: 24px;
    font-size: 24px;
    line-height: 1.42;
    overflow: hidden;
  }
  &__banner {
    width: 100%;
    margin-bottom: 36px;
  }
}

.button {
  &-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
}
.trial {
  &--headline {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.learn-more {
  height: 48px;
  width: 100%;
  background-color: $learnMore-button-color;
  font-size: 18px;
  line-height: 0.72;
  color: $secondary-color;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

// desktop version
@include for-desktop {
  .headline {
    position: relative;
    max-width: 1140px;
    margin: auto;
    margin-top: 84px;
    padding-bottom: 77px;
    &-content {
      padding: 0;
      position: absolute;
      z-index: 1;
      margin: 0;
    }
    &__title {
      font-size: 80px;
      letter-spacing: -0.5px;
      line-height: 0.98;
      width: 754px;
      height: 165px;
    }
    &__description {
      margin-top: 34px;
      overflow: hidden;
      width: 456px;
      height: 102px;
    }
    &__banner {
      width: auto;
      position: relative;
      right: -107px;
      margin-left: auto;
      top: 7px;
    }
  }

  .button {
    &-container {
      height: 48px;
      flex-direction: row;
      margin-top: 58px;
    }
  }
  .trial {
    &--headline {
      width: 160px;
      margin: 0;
      margin-right: 10px;
    }
  }
  .learn-more {
    width: 158px;
  }
}
