// mobile version

.tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0 50px;
  margin-top: 8px;
}
.tip {
  padding: 40px 15px;
  border-bottom: 1px solid #e3e3e3;
  width: 100%;
  &:last-child {
    border-bottom: none;
  }
  &__suptitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.55;
    color: $primary-section__name-color;
  }
  &__title {
    margin-top: 17px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.357143px;
  }
  &__text {
    font-size: 24px;
    line-height: 1.42;
  }
  &__image {
    display: flex;
    margin: auto;
    margin-top: 30px;
    &-description {
      margin-top: 20px;
      font-size: 14px;
      line-height: 1.57;
      text-align: center;
      color: #2b292d99;
    }
  }
}

// desktop version
@include for-desktop {
  .tips {
    display: none;
  }
}
